<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
	  href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src='/_ah/channel/jsapi'></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.js"></script>
    <script type="text/javascript" src="/js/controller.js"></script>
    <title>Cloudchat</title>
  </head>
  
  <body ng-app="app">
    <div class="container-fluid" ng-controller="MainPage">
      <ul class="nav nav-tabs" role="tablist">
	<li><a href="/">Home</a></li>
	<li><a href="/new">Your chats</a></li>
      </ul>
      <div class="row">
	<div class="container">
	  <h1 class="text-center">{{ title }}</h1>
	  <div class="col-md-6 col-md-offset-3">
	    <form ng-submit="sendMessage()" class="form-inline" role="form">
	      <label>Nickname</label>
	      <input type="text" ng-model="author" required><br />
	      <label>Message</label>
	      <input type="text" ng-model="message" required>
	      <input type="submit" id="submit" value="Submit" /> Or press <kbd>↵</kbd>
	    </form>
	    <p>There are {{ connected }} connections.</p>
	    <div style="height:500px; border:1px solid; overflow:auto">
	      <table class="table table-striped">
		<tr  ng-repeat="message in messages">
		  <td>
		    <span ng-if="conversations == true">
		      <button type="submit"
			      class="btn btn-primary"
			      ng-click="invite(message.id)">
			{{ message.author}}
		      </button>
		    </span>
		    <span ng-if="conversations == false">
		      <strong>
			{{ message.author}}
		      </strong>
		    </span>
		  </td>
		  <td>
		    {{ message.when}}:
		    <span ng-bind-html="message.text">
		      {{ message.text }}
		    </span>
		  </td>
		</tr>
	      </table>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
