<!
DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
	  href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src='/_ah/channel/jsapi'></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/js/controller.js"></script>

    <title>Cloudchat</title>
  </head>
  
  <body ng-app="app">
    <div class="container-fluid">
      <div class="row">
	<div class="container">
	  <h1 class="text-center">Cloudchat</h1>
	  <div class="col-md-6 col-md-offset-3"  ng-controller="CreatePage">
	    <form ng-submit="createChat()" class="form-inline" role="form">
	      <label>Chat</label>
	      <input type="text" ng-model="name"><br />
	      <label>Save Messages</label>
	      <input type="checkbox" ng-model="save"><br />
	      <label>Allow conversations</label>
	      <input type="checkbox" ng-model="conversations"><br />
	      <label>Create Chat</label>
	      <input type="submit" id="submit" value="Submit" />
	    </form>
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
