<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
	  href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src='/_ah/channel/jsapi'></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.js"></script>
    <script src="/js/controller.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <title>Cloudchat</title>
  </head>
  
  <body ng-app="app">
    <div class="container-fluid">
      <ul class="nav nav-tabs" role="tablist">
	<li><a href="/">Home</a></li>
	<li class="active"><a href="/new">User</a></li>
	<li><a href="/faq">FAQ</a></li>
	<li><a href="%s">Sign out</a></li>
      </ul>
      <div class="row">
	<div ng-controller="UserPage">

	  <div class="col-md-8 col-md-offset-2">
	    <h2>Recent Activity</h2>
	    <table class="table well">
	      <tr>
		<th>Name</th>
		<th>When</th>
		<th>Last message on</th>
		<th>Owner</th>
	      </tr>
	      <tr ng-repeat="a in activity">
		<td>
		  <a href="/chat?key={{ a.key }}">
		    {{ a.name }}
		  </a>
		</td>
		<td>{{ a.date }}</td>
		<td>{{ a.last }}</td>
		<td>{{ a.creator }}</td>
	      </tr>
	    </table>
	  </div>


	  <div class="col-md-8 col-md-offset-2">
	    <h2>New chat</h2>
	    <div id="form" class="well">
	      <form ng-submit="createChat()" class="form-horizontal"
		    role="form">
		<div class="form-group">
		  <label for="name" class="col-sm-3">Chat name</label>
		  <div class="col-sm-8">
		    <input type="text" class="form-control" id="name"  ng-model="name" required>
		  </div>
		</div>
		<div class="form-group">
		  <div class="col-md-offset-3">
		    <div class="checkbox">
		      <label>
			<input type="checkbox" ng-model="privte">
			Private Chat (Not publicly listed).
		      </label>
		    </div>
		    <div class="checkbox">
		      <label>
			<input type="checkbox" ng-model="persistent">
			Persistent (keep online after no connection is left).
		      </label>
		    </div>
		    <div class="checkbox">
		      <label>
			<input type="checkbox" ng-model="save">
			Save the messages.
		      </label>
		    </div>
		    <div class="checkbox">
		      <label>
			<input type="checkbox" ng-model="conversations">
			Allow sending private room invitations.
		      </label>
		    </div>
		  </div>
		</div>
		<div class="form-group">
		  <div class="col-md-offset-3">
		    <input type="submit" id="submit" value="Create Chat" />
		  </div>
		</div>
	      </form>
	    </div>
	  </div>


	  <div class="col-md-12">
	    <h2>Your chats</h2>
	    <table class="table well">
	      <tr><th>Name</th>
		<th>Time created</th>
		<th>Private</th>
		<th>Persistent</th>
		<th>Conversations</th>
		<th>Connected</th>
		<th>Download messages.</th>
		<th>Embed code</th>
		<th>Actions</th>
	      </tr>
	      <tr ng-repeat="chat in chats">
		<td>
		  <a href="/chat?key={{ chat.key }}">
		    {{ chat.name }}
		  </a>
		</td>
		<td>{{ chat.date }}</td>
		<td>{{ chat.private }}</td>
		<td>{{ chat.persistent }}</td>
		<td>{{ chat.conversations }}</td>
		<td>{{ chat.num_clients }}</td>
		<td ng-if="chat.save == true">
		  <div id="download" ng-click="replaceSave(chat)">
		    <a href="/API/download?key={{ chat.key }}&format=json"
		       download="messages.json">
		      <i class="fa fa-download"></i>
		    </a>
		  </div>
		</td>
		<td ng-if="chat.save == false">
		  <i class="fa fa-ban"></i>
		</td>
		<td ng-click="embedCode(chat)">
		  <a><i class="fa fa-clipboard"></i></a>
		</td>
		<td>
		  <button 
		     class="btn btn-danger"
		     ng-click="deactivate(chat.key,$index)">
		    Deactivate
		  </button>
		</td>
	      </tr>
	    </table>

	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
