<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='/_ah/channel/jsapi'></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="/js/controller.js"></script>
    <title>Cloudchat</title>
  </head>
  
  <body ng-app="app">
    <div ng-controller="MainPage">
      <div class="row">
	<div class="col-md-6 col-md-offset-3">
	  <form ng-submit="sendMessage()" class="form-inline" role="form">
	    <div class="form-group">
	      <input 
		 class="form-control" type="text" ng-model="author"
		 placeholder="Nickname" required >
	      <input
		 class="form-control" type="text" ng-model="message"
		 placeholder="Message (press ↵ to send)" required > 
	      <input type="submit" class="btn btn-default"
		     id="submit" value="Submit" />
	      <i class="fa fa-users"></i> &#215; {{
	      connected }}
	    </div>
	  </form>
	  <div ng-repeat="message in messages">
	    <span ng-if="conversations == true">
	      <button ng-click="invite(message.id)"
		      title="Send private chat invitation to {{ message.author }}">
		{{ message.author}}
	      </button>
	    </span>
	    <span ng-if="conversations == false">
	      <strong>
		{{ message.author}}
	      </strong>
	    </span>
	    <span ng-bind-html="message.text" style="font-size:0.8em;">
	      {{ message.text }}
	    </span>
	    <hr size="1" noshade>
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
