<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
	  href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <title>Cloudchat!</title>
  </head>
  
  <body ng-app="app">
    <div class="container-fluid" ng-controller="MainPage">
      <div class="row">
	<div class="container">
	  <h1 class="text-center">Cloudchat!</h1>
	  <div class="col-md-8 col-md-offset-2">
	    <h2>Active chats</h2>
	    <table class="table well">
	      <tr><th>Name</th><th>Owner</th><th>Active connections</th></tr>
	      {% for chat in active_chats %}
	      <tr>
		<td>
		  <a href="/chat?key={{ chat.key.urlsafe() }}">
		    {{ chat.name }}
		  </a>
		</td>
		<td>{{ chat.owner.nickname() }}</td>
		<td>{{ chat.num_clients() }}</td>
	      </tr>
	      {% endfor %}
	    </table>
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
